@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    height:100%;
}

body{

    color:$color-gray;
    font-size: $norm-font;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 26px;


    display: flex;
    flex-direction: column;
    min-height: 100%;

}





