$color-gray: #727272;
$norm-font: 16px;
$common-wrapper:1100px;
$color-black:rgba(0, 0, 0, 1);
$color-button:rgba(52, 84, 122, 1);
$white-color:rgba(255, 255, 255, 1);
$color-advantages:$color-button;
$backgrond-color:#EEEFF1;

