.header{
    flex: 0 0 auto;
    padding: 72px;
    background-color: $backgrond-color;
    &__logo{
        width: 84px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        img{
            width: 100%;
        }
    }

    &__nav{
        display: flex;
        justify-content: space-between;
        ul{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            column-gap: 30px;
        }

        li{
            list-style: none;
            text-decoration: none;
            flex-shrink: 0;
        }
    }
    .wrapper{

        display: flex;
        justify-content:space-between;
        max-width: $common-wrapper;

    }
    @media(max-width:690px){

        .wrapper{
            row-gap: 40px;
            flex-direction: column;
            align-items: center;
        }
   
    }


    @media(max-width:480px) {

        &__nav ul{
            flex-direction: column;
            row-gap: 10px;
        }
        
    }
}

