@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');


*{
    /* background-color: #000000;
     */
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Heebo';
     color: rgba(33, 36, 61, 1);
}
/* шапка */
.header ul{
    list-style: none;
    float: right;
    margin-top: 27px 60px 27px 0px;

}
.header{
    overflow: hidden;
    margin-right: 32px;

}

.header li{
    float: left;
    margin-left: 32px;
}
.header a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    transition: color .3s;
}
.header a:hover,
.header a.active{
    color:#FF6464;
}
/* шапка конец */
.wrapper{
    margin: 0 auto;
    width: 856px;
    overflow: hidden;
}
/* начало страницы */
.start_info{
    font-size:44px;
    font-weight: 800;
    color: #21243D;
}
.author{
    margin-top: 128px;
    margin-bottom: 72px;
    overflow: hidden;
    height: 350px
    /* width:; */

}
.author__info{
    float: left;
    /* width:calc(100%-250px); */
    width:506px;
    /* line-height: 10px; */
    margin-bottom: 70px;
    overflow:hidden;

}
.avatar{
    float:right;
    width: 260px;
}
.author .wrapper{
    overflow: hidden;
}
.button{
    /* width: 208px;
    height: 47px; */
    background: #FF6464;
    padding: 13px 32px;
    border-radius: 2px;
    color: white;
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s;
}
.button:hover{
    background: #fd3d3d;

}

.author .avatar img{
    /* box-shadow: 10px 5px 5px rgb(155, 152, 152); */
}
.author__text{
    margin-top:29px ;
    margin-bottom: 32px;
}
/* начало страницы конец */

.page{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* ////////////////////////////////////// */
}
/* посты */
.posts{
width: 1152px;
height: 320px;

}
.posts__header{
    display: flex;
    justify-content: space-between;
}
.view__all{
    color:aqua;
    transition: color .3s;

    
}
.view__all:hover{
    color: rgb(1, 255, 192);
}

.card{
    width: 418px;
    height: 295px;
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;

}
.cards{
    display: flex;

}
.date{
    width: 377px;
    height: 45px;
    display: inline;

}
.data:first-child{
    padding-right: 20px;
    border-right: solid 2px rgb(0, 0, 0);
}
.data:last-child{
    margin: 0px 0px 0px 20px;
}

.card__text{
    width: 368px;
    height: 117px;
    margin-bottom: 20px;
}
.first__word{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    align-items: center;
    width: 374px;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 9px;

}

.data{
    display: inline;
}
/* посты конец */
/* избранные работы */
.tipes{
    height: 770px;
}

.first__word-tipe{
    display: inline-block;
}
.tipe{
    height: 204px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 20px;
    margin-top: 20px;

}
.tipe_big{
    
}
.tipe .img{
 /* align-items: center; */
 margin: center;
}

.tipe__word{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-decoration: none;
}
.tipe .tipe__text{
    display: flex;
    flex-direction: column;

}
.tipe__text{
    margin-left: 20px;
}
.year__block{
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
}
.year{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date__tipe{
    height: 44px;
    width: 300px;
    display: flex;
    margin-top:20px ;
    
}
.year__block{
    margin: 0px 20px 0px 0px;
}
.thing{
    color: #8695A4;
    text-decoration: none;
    transition: color .3s;
}
.thing:hover{
    color: #757d85;
}
.text{
    display: block;
}

.tipe:last-child{
    margin-bottom: 84px;
}
/* избранные работы конец */

/* подвал */
.contacts{
    height: 182px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.massege{
    width: 236px;
    height: 33px;
    display: inline-flex;
    justify-content: space-between;
}
.last__date{
    margin-top: 26px;
    margin-bottom: 54px;
    width: 500px;
    text-align: center;
}
/* подвал конец */