.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    .gallery__item{
        width: 100%;
    }
    &__item {
        background-position: center;
        background-size: cover;
        aspect-ratio: 1 / 1;

        img {
            width: 1px;
            opacity: 0;
        }
    }
}
