.footer{
    flex:0 0 auto;
    background-color: #34547A;
    color: rgba(255, 255, 255, 1);

    padding: 80px 15px;
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }

    @media(max-width:480px){
        .wrapper{        
            flex-direction: column-reverse;
            align-items: center;
        }
        &__info{
            text-align: center;
        }
    }


}

