.first__page{
    flex: 1 0 auto;
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 120px 0px 100px 0px;

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 90px;
        justify-content: flex-start;
        .first__word{
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 66px;
            color: white;
            
        }
        .move__slide{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .next__buttons{
                display: flex;
                height: 60px;

                .next__button{
                    width: 60px;
                    height: 60px;
                    row-gap: 0px;
                    @include block__center;
                    border: none;
                    cursor: pointer;
                    transition: 0.4s;
                 


                }
                .next__button:hover{
                    background-color:rgba(43, 42, 42, 0.8); ;
                }

                .button__right{
                    background-color: rgba(255, 255, 255, 0.2);
                
                }
                .button__left{
                    background-color: rgba(255, 255, 255, 0.5);
               
                }
                
            }

        }
        .container__first__word{
            width:590px;
            display: flex;
            flex-direction: row;
        }
        .next__point{
            display: flex;
            column-gap: 40px;
            align-items: end;
            .point{
                border-radius: 50px;
                border: 5px solid white;
                background-color: white;
                flex-shrink: 1;
                width: 5px;
                 height: 5px;
            }


        }

    }

}