.footer{
    display: flex;
    flex: 0 0 auto;
    padding: 40px  0px;
    &__text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    }

    .copywriting{
        width: 50%;
        text-align: center;
    

    }
}